

div {
	border: 2px solid #C0C0C0;
	margin-top: 2em;
	width: 33.3%;
	flex: 1 1 auto;
	margin-left: 10px;
	padding: 5px;
}

a {
	text-decoration: none;
	color: #98b6b1;
}

ul li {
	list-style: none;
	margin-left: -30px;
}
