nav, header, footer {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
}


nav {
  width: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

nav ul {
  background-color: #eee;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

ul.topnav li {
  list-style: none;
  display: inline-block;
  width: auto;
}

ul.topnav li.topnav-right {
  float: right;
}

ul.topnav li a {
  display: block;
  text-decoration: none;
  min-height: 16px;
  text-align: center;
  padding: 14px;
  text-transform: uppercase;
  color: #666;
}


ul.topnav li a:hover {
  background-color: #0080ff;
  color: #fff;
}
